{# Layout de base : structure HTML commune à toutes les pages #}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Green Goodies{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {# Feuilles de style principales du site #}
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
        {% endblock %}

        {# Chargement du JS (importmap Symfony) #}
        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        {# En-tête du site (logo + navigation principale) #}
        {% include 'partials/_header.html.twig' %}

        <main id="main-content" class="site-main">
            {# Contenu spécifique à chaque page #}
            {% block body %}{% endblock %}
        </main>

        {# Pied de page commun #}
        {% include 'partials/_footer.html.twig' %}
</body>
</html>
