{% extends 'base.html.twig' %}

{% block title %}Erreur - Green Goodies{% endblock %}

{% block body %}
    <section class="error-page">
        <div class="error-container">
            <h1>Une erreur est survenue.</h1>
            <p>
                Nous sommes désolés, quelque chose s’est mal passé.
            </p>
            <p>
                <a href="{{ path('app_home') }}" class="error-link">
                    Revenir à l’accueil
                </a>
            </p>
        </div>
    </section>
{% endblock %}