{% extends 'base.html.twig' %}

{% block title %}Page non trouvée - Green Goodies{% endblock %}

{% block body %}
    <section class="error-page">
        <div class="error-container">
            <h1>Oups, cette page n’existe pas.</h1>
            <p>
                La page que vous cherchez est introuvable ou a été déplacée.
            </p>
            <p>
                <a href="{{ path('app_home') }}" class="error-link">
                    Revenir à l’accueil
                </a>
            </p>
        </div>
    </section>
{% endblock %}